.topnav input[type=text], .topnav input[type=number]  {
    float: left;
    width: 60%;
    font-size: 17px;
    max-width: 600px;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text], .topnav input[type=number] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text], .topnav input[type=number]  {
        border: 1px solid #ccc;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

    justify-content: center;
}

header h2 {
    text-align: center;
}

header h3 {
    text-align: left;
    justify-content: left;

    float: left;
    display: block;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.stock-panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 600px;
}

.stock-panel h2 {
    margin-top: 0;
}

.stock-panel input[type="text"],
.stock-panel input[type="number"],
.stock-panel button {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

.stock-panel button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.stock-list button {
    width: 30%;
}

.stock-list {
    list-style-type: none;
    padding: 0;
    width: 100%; }

.stock-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.stock-list li span {
    flex: 1;
    /*text-align: center;*/
}

.stock-list li:last-child {
    border-bottom: none;
}

.trade-result {
    display: none;
    text-align: center;
    font-size: 24px;
    background-color: cadetblue;
}

.trade-result-fail {
    display: none;
    text-align: center;
    font-size: 24px;
    background-color: darksalmon;
}

#trade_menu,
#portfolio_menu,
#trade_menu,
#main_menu{
    display: none;
}
